name: Puzzle Engine CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install check
    - run: sudo apt-get install check
    - name: make
      run: make
    - name: make check
      run: make check
