name: Puzzle Engine CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: update deps
      run: sudo apt-get update
    - name: install deps
      run: sudo apt-get install flex bison check libncurses5-dev libncursesw5-dev libsdl2-dev
    - name: make check
      run: make check
